/*!
 * Start Bootstrap - Resume v5.0.8 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */


/*html {
    font-size: 90%; 
}*/

body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96;
  text-align: justify;
  font-size: .85em;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
    padding-right: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}
h1 {
  font-size: 4.7rem;
  line-height: 5.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.7rem;
}

p.lead {
  font-size: .92rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .events {
    margin-left: 2em;
  }
}
@media (min-width: 992px) {
  .events {
    margin-left: 2.5em;
  }
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.4rem;
}
.subsubheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.1rem;
  color: #666e75;
}

.social-icons {
  margin-top: 3em;
}
.social-icons a {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.8rem;
  margin-right: 1rem;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover {
  background-color: #6C487D;
}

.dev-icons {
  font-size: 3rem;
}
.dev-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    /*text-align: center;*/
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 2rem;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.2);
    border-radius: 100% !important;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    margin-left: 1em;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
 #sideNav .navbar-collapse .navbar-nav .nav-item .nav-item-item {
    font-size: .72rem;
    margin-top: -.7rem;
    margin-bottom: 0;
    margin-left: 1.1rem;
    /*font-style: italic;*/
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}
section.resume-section .resume-item .resume-date {
  min-width: none;
}

/*section.resume-section .resume-item .resume-content .s-3 {
  max-width: 50rem;
}*/

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #6C487D !important;
}
.text-primary {
  color: #6C487D !important;
}

a {
  color: #6C487D;
}
a:hover, a:focus, a:active {
  color: #965bb2;
  text-decoration: none;
}

.jury i {
  font-size: small;
  color: #95899c;
}
.side {
  width: 94%;
}
/*ol.side,ul.side {
  width: 95%;
}*/

.pres {
  font-size: .8rem;
}
.description {
  font-size: .7rem;
}
.info {
  font-size: .8rem;
  font-style: italic;
}

.img-rec-right {
  margin-right: 0rem;
  margin-left: 1.5rem;
  display: flex;
  align-self: center;
}
.img-rec-center, .img-rec-col .img-piday {
  margin-right: 0rem;
  margin-left: 0rem;
  justify-content:center;
}
.img-rec-right div, .img-rec-center div, .img-rec-col div {
  align-self: center;
}
.img-rec-right img {
  width: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*border-radius: 12%;*/
}
.img-rec-center img, .img-rec-col img, .img-piday img {
  max-width: 50em;
  min-width: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-rec-center img, .img-piday img {
  width: 100%;
}
.img-rec-col img {
  width: 95%;
  min-height: 6em;
}
.img-piday img {
  border-radius: 25px;
}

.img-misc, .img-mt180 {
  margin-top: -.8rem;
  margin-left: .5rem;
  align-self: center;
} 
.img-mt180 img {
    width: 11em;
    border-radius: 12%;
    margin: auto;
}
.img-misc img {
    width: 15em;
    border-radius: 3%;
}

.img-bw {
  font-size: .67rem;
}
.img-bw img {
    filter: invert(75%) brightness(25%);
    height: .77rem;
}

ul {
  list-style: none; /* Remove default bullets */
}
section ul li::before {
  content: "\2B29";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #8c5da2; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.2em; /* Also needed for space (tweak if needed) */
  margin-left: -2em; /* Also needed for space (tweak if needed) */
}
.language-container{
  margin-right: -.6rem;
  margin-top: -2.5rem;
}
.language {
  text-align: center;
  font-style: italic;
  font-size: .6rem;
  /*margin-bottom: -.8rem;*/
  color: #6C487D;
  position: fixed;
  top:15px;
  right:15px;
}
.language a {
  color: #4e555a;
}
.language a:hover {
  color: #6C487D;
  text-decoration: none;
}
.language i {
  margin-top: -.2rem;
  font-size: 2rem;/*.5rem;*/
}

.adress, .nav-language {
  color: rgba(0,0,0,.6);
  font-size: .7rem;
}
.adress a, .nav-language a {
  color: rgba(0,0,0,.8); /*rgba(255,255,255,.1);*/
}
.adress a:hover, .nav-language a:hover, .nav-language-d a:hover {
  color: rgba(255,255,255,.3);
}

.nav-language-d, .nav-language {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: rgba(0,0,0,.7);
  font-size: .85rem;
}
.nav-language {
  margin-top: -2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.logos {
  text-align: center;
  margin-top: -2rem;
}

.dark {
  color: #4e555a;
}

.mb-45 {
  margin-bottom: 2.2rem !important;
}

.ref-rec {
  /*margin-top: -.8rem;*/
  font-size: .8rem;/*.5rem;*/
}
.ref-rec a {
  font-size: .7rem;/*.5rem;*/
}
.rec {
  margin-top: -.8rem;
}

.dot {
  color: #965bb2;
  font-size: .6em;
}
.icon-rec {
  /*color: #6C487D;*/
  color: #965bb2;
  font-size: .72em;
  margin-right: 0em;
  margin-left: .6em;
}

.keywords {
  font-size: 1em;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}
.caption {
  margin-top: .2rem;
  font-size: .72em;
  text-align: center;
  font-style: italic;
}


.pdfquote {
  width: 5.2em;
  text-align: left;
}
@media (min-width: 768px) {
  .pdfquote {
    text-align: right;
  }
}
.pdfquote a {
  color: #8c5da2;
}
.pdfquote a:hover {
  color: #6c487d;
}
.pdfquote .pdf {
  font-size: .9em;
}
.pdfquote .quote {
  font-size: .85em;
}


.events {
  background-color: #ebebeb;
  border-radius: 10px;
  padding: .8rem;
  align-self: center;
  font-size: .75rem;
}
.events .subheading {
 font-size: 1.1rem;
}
.events .date {
  color: #666e75;
  font-size: .7rem;
  font-style: italic;
}
a.here {
  font-weight: bold;
}
.events .fas, .events .far {
 font-size: 1rem;
 color: #666e75;
}
.events ul {
  list-style-type: none;
  list-style-position: inside !important;
  padding-left: 1.5rem;
}
.events ul li {
  margin: .45rem 0;
}

@media (min-width: 768px) {
  .side_events {
    flex: 10;
  }
  .events {
  flex: 3;
  /*text-align: left;*/
}
}

ul.misc li {
  margin: 1rem 0;
}
ul.matilda li {
  margin: .5rem 0;
}


p.publi {
  margin: 0;
  font-size: .95em;
}
p.title {
  margin: 0;
  font-weight: bolder;
  color: #666e75bf ; /*#896d97d1;*/
}


.map {
  margin-top: 1rem;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .map {
    height: 400px;
  }
}




/*ol {
  list-style: none;
}
ol li {
  counter-increment: item;
  display: block;
}
section ol li::before {
  content: counter(item) ". ";
  color: #8c5da2;
  font-weight: bold;
}*/



